body{ 
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 320px;
  font-family: 'Exo 2', sans-serif;
}

img{
  width: 100%;
}

.visually-hiden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

#advantages,
#goods,
#delivery,
#contacts{
  padding-top: 55px;
  margin-top: -55px;
}

.nav--list{
  display: none;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  background-color: #808080;
  padding: 0;
}

.nav--list-show{
  animation-name: eme;
  animation-duration: 0.6s;
  display: block;
}

.nav--menu-list{
  margin: 0;
  padding: 5px 0px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: #808080;
  color: white;
}

.phone{
  display: none;
}

.nav--item{
  border-top: 1px solid white;
  padding: 5px 0px;
}

.nav--link{
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.logo-main--ancore{
  margin: 0 auto;
}

.logo{
  background-image: url("../../img/krasnodar.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.logo-main{
  width: 200px;
  margin: 0 auto;
}	

.advantages--header{
  font-size: 30px;
  padding: 30px;
}

.advantages--description{
  margin: 0 4em;
}

.advantages{
  text-align: center;
}

.advantages-container{
  background-color: #F3F2F0;
}

.advantages--list{
  margin: 30px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages--item{
  margin-top: 30px;	
}

.goods--header{
  font-size: 30px;
  padding: 30px;
}

.goods{
  text-align: center;
  padding-top: 10px;
}

.goods--item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods--list{
  padding: 0;
  list-style: none;
  text-align: center;	
}

.goods--item__description-list{
  list-style: none;
  text-align: left;
  vertical-align: bottom;
}
.goods--container:hover{
  transform: scale(1.01);
  animation-duration: 2s;
}
.goods--item__description-item::before {
  color: orange;
  content: "\25CF";
  padding-right: 10px;
}

.goods--item__icon{
  width: 90%;
  margin-top: 20px;
}

.goods--item__buy-button{
  margin-bottom: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5%;
  background-color: #EF9433;
  color: white;
  cursor: pointer;
}

.goods--item__buy-button:hover,
.goods--item__buy-button:focus{
  background-color: #F7B54B;
  transform: scale(1.2);
  animation-duration: 2s;
}

.goods--item__buy-button:active{
  background-color: #EF8A32;
  color: #EDDAD7;
}

.goods--item__more-button{
  margin-bottom: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5%;
  background-color: #808080;
  color: white;
  cursor: pointer;
}

.goods--item__more-button:hover,
.goods--item__more-button:focus{
  background-color: #C0C0C0;
  transform: scale(1.2);
  animation-duration: 2s;
}

.goods--item__more-button:active{
  background-color: #404040;
  color: #EDDAD7;	
}

.page--primary-site__description{
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}

.logo-button:hover,
.logo-button:focus{
  transform: scale(1.2);
}

.delivery--header{
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

.delivery--list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
}

.delivery--item{
  margin: 20px auto;
  width: 51%;
}

.page--map{
  text-align: center;
}

.map{
  width: 95%;
  margin: 0 auto;
  
}

.footer{
  background-color: #808080;
  color: white;
  padding: 5px;
  margin-top: 20px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
}

.footer--phone{
  color: #fff;
  text-decoration: none; 
}

.footer--phone:hover,
.footer--phone:focus{
  color: #F5A408;
}
	
.footer--logo{
  margin-right: 30px;
  width: 120px;
}

.footer--logo:hover,
.footer--logo:focus{
 transform: scale(1.1);
}

.popup{
  position: fixed;
  z-index: 10;
  align-items:center;
  justify-content:center;
  top:150px;
  width:100vw;
  height:100vh;
  display: none;
}
	
.popup--form{
  background: white;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  border: 2px solid #EF9433;
  border-radius: 2%;
  box-shadow: 0 0 70px 50px rgba(0, 0, 0, 0.5);
}
 
.popup--message-close{
  fill: rgba(51, 51, 51, 0.5);
  display: block;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.popup--message-close:hover{
  fill: rgba(51, 51, 51, 1);
  transform: scale(1.2);
  animation-duration: 2s;
}

.popup--message-close:active{
  fill: rgba(51, 51, 51, 0.7);
}

.popup--message{
	margin: 10px auto;
}

.form--item{
  width: 250px;
  padding: 10px;
  margin: 10px auto;
  border:1px solid black;
}
.form--errors,
.form--success{
  display: none;
}
.form--errors._active,
.form--success._active{
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}
.form--errors{
  color:red;
}
.g-recaptcha {
  transform: scale(0.88);
  transform-origin: 0 0;
  margin: 0 auto;
  width: 268px;
}
.g-recaptcha>div{
  border:1px solid transparent;
}
.g-recaptcha.error > div{
  border-color:red;
}
.form--item.error{
  border-color:red;
}
.form--button{
  margin: 10px auto;
  padding: 5px 15px;
  border: none;
  border-radius: 5%;
  background-color: #EF9433;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.form--button:hover,
.form--button:focus{
  background-color: #F7B54B;
  transform: scale(1.2);
  animation-duration: 2s;
}

.form--button:active{
  background-color: #EF8A32;
  color: #EDDAD7;
}

.goods--cards{
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 2px solid #EF9433;
  border-radius: 2%;
  list-style: none;
  background-color: white;
  height: 90vh;
  margin:0 auto;
  position: fixed;
  top: 3%; 
  left: 0; 
  bottom: 0; 
  right: 0;
  box-shadow: 0 0 70px 50px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.goods--cards::-webkit-scrollbar {
  width:0px;
}

.goods--cards__name{
  font-size: 30px;
}

.goods--cards__image{
  width: 100%
}

.goods--cards__image-container{
  display: none;
}


.cards--item__buy-button{
  margin-bottom: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 5%;
  background-color: #EF9433;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.cards--item__buy-button:hover,
.cards--item__buy-button:focus{
  background-color: #F7B54B;	
  transform: scale(1.2);
}

.cards--item__buy-button:active{
  background-color: #EF8A32;
  color: #EDDAD7;
}

.goods--cards__colunmn-description{
  position: relative;
}

.close-block{
  display: block;
  width: 32px;
  padding: 3px;
  position: absolute;
  top: -370px;
  right: 5px;
  fill: rgba(51, 51, 51, 0.5);
}

.close-block:hover{
  fill: rgba(51, 51, 51, 1);
  transform: scale(1.2);
  animation-duration: 2s;
}

.close-block:active{
  fill: rgba(51, 51, 51, 0.7);
}

.up-arrow{
  margin-left: -6px;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
}

.up-arrow--icon{
  fill: rgba(51, 51, 51, 0.5);
}

.up-arrow--icon:active{
  fill: rgba(51, 51, 51, 0.7);
}

.call{
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  cursor: pointer;
}

.call--icon{
  fill: rgba(51, 51, 51, 0.5);
}

.call--icon:active{
  fill: rgba(33, 255, 33, 0.7);
}

.button-block{
  position: fixed;
  bottom: 18%;
  right: 2%;
  width: 45px;
  text-align: center;
}

.goods--cards{
  display: none;
}

.remeks-show,
.revel-show,
.staut-show{
  display: block;
  animation-name: emergence;
  animation-duration: 0.6s;
}

.popup-show{
  display: block;
  animation-name: emergence;
  animation-duration: 0.6s;
}


/* slider start */

#slider-s,
#slider-rv,
#slider-rm{
	margin:0 auto;
	}
  
article input{
	display:none;
	}
  
#slide1-s:checked ~ #slides-s .inner,
#slide1-rv:checked ~ #slides-rv .inner,
#slide1-rm:checked ~ #slides-rm .inner{
	margin-left:0;
	}
  
#slide2-s:checked ~ #slides-s .inner,
#slide2-rv:checked ~ #slides-rv .inner,
#slide2-rm:checked ~ #slides-rm .inner{
	margin-left:-100%;
	}
	
#slide3-s:checked ~ #slides-s .inner,
#slide3-rv:checked ~ #slides-rv .inner,
#slide3-rm:checked ~ #slides-rm .inner{
	margin-left:-200%;
	}
	
#slide4-s:checked ~ #slides-s .inner,
#slide4-rv:checked ~ #slides-rv .inner,
#slide4-rm:checked ~ #slides-rm .inner{
	margin-left:-300%;
	}
	
#container-s,
#container-rv,
#container-rm{
	width:100%; 
	margin: 0 auto; 
	overflow:hidden;
	}
	
article img{
	width:100%;
	}
	
#slides-s .inner,
#slides-rv .inner,
#slides-rm .inner{
	width: 500%;
	line-height: 0;
	}
	
#slides-s article,
#slides-rv article,
#slides-rm article{
	width:20%;
	float:left;
	}
	
#commands-s,
#commands-rv,
#commands-rm{
	margin:-25% 0 0 0;
	width:100%;
	height:50px;
	}
	
#commands-s label,
#commands-rv label,
#commands-rm label{
	display:none;
	width:80px;
	height:80px;
	opacity:0.1;
	}
	
#commands-s label:hover,
#commands-rv label:hover,
#commands-rm label:hover{
	opacity:0.3;
	}
	
#active-s,
#active-rv,
#active-rm{
	position:relative;
	z-index:5;
	margin:16% 0 0;
	text-align:center;
	}
	
#active-s label,
#active-rv label,
#active-rm label{
	border-radius:5px;
	display:inline-block;
	width:10px;
	height:10px;
	background:#bbb;
	cursor: pointer;
	}
	
#active-s label:hover,
#active-rv label:hover,
#active-rm label:hover{
	background:#333;
	border-color:#777!important;
	}
	
#slide1-s:checked ~ #commands-s label:nth-child(2),
#slide2-s:checked ~ #commands-s label:nth-child(3),
#slide3-s:checked ~ #commands-s label:nth-child(4),
#slide4-s:checked ~ #commands-s label:nth-child(1),
#slide1-rv:checked ~ #commands-rv label:nth-child(2),
#slide2-rv:checked ~ #commands-rv label:nth-child(3),
#slide3-rv:checked ~ #commands-rv label:nth-child(4),
#slide4-rv:checked ~ #commands-rv label:nth-child(1),
#slide1-rm:checked ~ #commands-rm label:nth-child(2),
#slide2-rm:checked ~ #commands-rm label:nth-child(3),
#slide3-rm:checked ~ #commands-rm label:nth-child(4),
#slide4-rm:checked ~ #commands-rm label:nth-child(1){
	background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;
	float:right;
	margin:0 12px 0 0;
	display:block;
	}
	
#slide1-s:checked ~ #commands-s label:nth-child(4),
#slide2-s:checked ~ #commands-s label:nth-child(1),
#slide3-s:checked ~ #commands-s label:nth-child(2),
#slide4-s:checked ~ #commands-s label:nth-child(3),
#slide1-rv:checked ~ #commands-rv label:nth-child(4),
#slide2-rv:checked ~ #commands-rv label:nth-child(1),
#slide3-rv:checked ~ #commands-rv label:nth-child(2),
#slide4-rv:checked ~ #commands-rv label:nth-child(3),
#slide1-rm:checked ~ #commands-rm label:nth-child(4),
#slide2-rm:checked ~ #commands-rm label:nth-child(1),
#slide3-rm:checked ~ #commands-rm label:nth-child(2),
#slide4-rm:checked ~ #commands-rm label:nth-child(3){
	background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;
	float:left;
	margin:0 0 0 -6px;
	display:block;
	}
	
#slide1-s:checked ~ #active-s label:nth-child(1),
#slide2-s:checked ~ #active-s label:nth-child(2),
#slide3-s:checked ~ #active-s label:nth-child(3),
#slide4-s:checked ~ #active-s label:nth-child(4),
#slide1-rv:checked ~ #active-rv label:nth-child(1),
#slide2-rv:checked ~ #active-rv label:nth-child(2),
#slide3-rv:checked ~ #active-rv label:nth-child(3),
#slide4-rv:checked ~ #active-rv label:nth-child(4),
#slide1-rm:checked ~ #active-rm label:nth-child(1),
#slide2-rm:checked ~ #active-rm label:nth-child(2),
#slide3-rm:checked ~ #active-rm label:nth-child(3),
#slide4-rm:checked ~ #active-rm label:nth-child(4){
	background:#000;
	opacity:0.6;
	border-color:#fff!important;
	border:2px solid #fff;
	}

#slides-s,
#slides-rv,
#slides-rm{
	position:relative;
	padding:2px;
	margin:0 0 0;
	background:#FFF;
	}
	
#slides-s .inner,
#slides-rv .inner,
#slides-rm .inner{
	transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);
	}
	
#slider-s,
#slider-rv,
#slider-rm{
    transition:all 0.5s ease-out;
	}
	
#commands-s label,
#commands-rv label,
#commands-rm label{
     transition:opacity 0.2s ease-out;
	 cursor: pointer;
	 }
	 
#slide1-s:checked ~ #slides-s article:nth-child(1) .caption,
#slide2-s:checked ~ #slides-s article:nth-child(2) .caption,
#slide3-s:checked ~ #slides-s article:nth-child(3) .caption,
#slide4-s:checked ~ #slides-s article:nth-child(4) .caption,
#slide1-rv:checked ~ #slides-rv article:nth-child(1) .caption,
#slide2-rv:checked ~ #slides-rv article:nth-child(2) .caption,
#slide3-rv:checked ~ #slides-rv article:nth-child(3) .caption,
#slide4-rv:checked ~ #slides-rv article:nth-child(4) .caption,
#slide1-rm:checked ~ #slides-rm article:nth-child(1) .caption,
#slide2-rm:checked ~ #slides-rm article:nth-child(2) .caption,
#slide3-rm:checked ~ #slides-rm article:nth-child(3) .caption,
#slide4-rm:checked ~ #slides-rm article:nth-child(4) .caption {
	opacity:1;
	transition:all 1s ease-out 0.6s;
	}
	
#commands-s,
#commands-s label,
#slides-s,
#active-s,
#active-s label,
#commands-rv,
#commands-rv label,
#slides-rv,
#active-rv,
#active-rv label,
#commands-rm,
#commands-rm label,
#slides-rm,
#active-rm,
#active-rm label{
    transition:all 0.5s ease-out;
	}
	
#slider-s,
#slider-rv,
#slider-rm{
	max-width:960px;
	}

/* slider end*/

@keyframes emergence{
        0% { 
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    100% { 
        opacity: 1;
        transform: none;
    }
}

@keyframes eme{
        0% { 
        opacity: 0;
        transform: translate3d(0px, 0%, 0px);
    }
    100% { 
        opacity: 1;
        transform: none;
    }
}

@media (min-width: 800px){	

#container{width:50%;}

.nav--list{
  position: fixed;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
 }

.nav--item{
  list-style: none;
  padding: 0;
}

.phone{
  display: inline;
} 

.nav--menu{
  display: none;
}

.nav--phone{
  display: block;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 5px 10px;  
}

.nav--phone:hover,
.nav--phone:focus{
  color: #F5A408;
}
	
.nav--link{
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  overflow: hidden;
}

.nav--link::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #F5A408;
  transition: 0.3s;
}

.nav--link:hover,
.nav--link:focus{
 color: #fff;
}

.nav--link:active{
  color: #DBD3D2
}

.nav--link:hover::before,
.nav--link:focus::before{
animation: animate .3s linear forwards;
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.logo{
  height: 350px;
  padding-top: 55px;
}

.logo-main{
  width: 300px;
}	

.advantages--header{
  font-size: 40px;
}

.advantages--list{
  display: flex;
  justify-content: space-around;
}

.advantages--item{ 
  margin: 20px;
  max-width: 17%;
}

.goods--header{
  font-size: 40px;
} 

.goods--cards__img{
  width: auto;
  height: 300px;
}

.goods--list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goods--cards__columns{
  display: block;  
  margin: 0px;
  padding: 0px;
}

.goods--cards__image-container{
  margin-right: 15%;
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: space-around;
}

.goods--item{
  max-width: 30%;
  border: 2px solid #EF9433;
  border-radius: 2%;
}


.delivery--item{
  max-width: 20%;
}

.goods--cards__info{
  display: block;
}

.goods--cards{
  width: 700px;
  height: 600px;
  z-index: 2;
  margin: 2% auto;
}

.goods--cards__icon{
  width: 108px;
  margin: 0px;
  padding: 0px;
}

.goods--cards__icon:hover{
  transform: scale(1.05);
  animation-duration: 2s;
}

.close-block{
  top: -385px;
  cursor: pointer;
}

.delivery--list{
  justify-content: space-around;
}

.up-arrow--icon:hover,
.up-arrow--icon:focus{
  fill: rgba(51, 51, 51, 1);
  transform: scale(1.2);
  animation-duration: 2s;
}

.call--icon:hover,
.call--icon:focus{
  fill: rgba(0, 221, 84, 1);
  transform: scale(1.2);
  animation-duration: 2s;
}

article img{
	width: 50%;
	}
}

@media (min-width: 1200px){
	
.goods--cards{
  width: 1000px;
  height: 600px;
}

.goods--cards__img{
  height: 420px;
}

.goods--cards__columns{
  min-width: 500px;
  display: block;
  flex-direction: row;
}

.goods--cards__image-container{
  width: 500px;
  display: block;
}

.goods--cards__icon{
  width: 32%;
}

.goods--cards__colunmn-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods--cards__description{
  text-align: left;
}

.goods--cards__list{
  list-style: none;
  display: block;
}

.goods--cards__item{
  text-align: left;
}

.goods--cards__item::before {
  color: orange;
  content: "\25CF";
  padding-right: 10px;
}

.close-block{
  top: -470px;
}

.remeks-show,
.revel-show,
.staut-show{
  display: flex;
  animation-name: emergence;
  animation-duration: 0.6s;
}
}
